%h1 Listing in_demands

%table
  %tr
    %th
    %th
    %th

  - @in_demands.each do |in_demand|
    %tr
      %td= link_to 'Show', in_demand
      %td= link_to 'Edit', edit_in_demand_path(in_demand)
      %td= link_to 'Destroy', in_demand, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New In demand', new_in_demand_path
