
<div class='row'>
    <div class='span6'>
        <h3>About Rifff</h3>
        <p>Rifff is a tool for composing music that is slightly different each time it plays back.</p>
        <p>The goal of the project is to leave the composer in control of the output, while allowing them to experiment with an element of random.</p>
        <br/>    
        <h3>Other compositions</h3>
        <p><a href='/projects/95/'>RifffGifff</a></p>
        <p><a href='/projects/72/'>Reckoner</a>  -  Randomised versions of the stems from Radiohead's Reckoner. Very slow to load!</p>
        <p><a href='/projects/96/'>RifffHop</a></p>
        <p><a href='/projects/73/'>Memba Dat</a> - Asynchronous randomised soundscape.</p>
        <br/>
        <h3>Say Hello</h3>
        <p>jimmytidey@gmail.com</p>
    </div>
    <div class='span6'>
        <iframe  src='/projects/92/iframe'></iframe>
    </div>
    
    <br class='clearfix' />
</div>    