
<div class='row'>
    <div class='span6'>
        <h3>About Rifff</h3>
        <p>Rifff is a way to compose </p>
        
        <h3>Get in touch...</h3>
        <p>Lorem Ipsum</p>
        
    </div>
    <div class='span6'>
        <iframe  src='projects/11/'></iframe>
    </div>
</div>    