
<input type='hidden' id='mode' value='edit' />


<div  class='row'>
<h2 class='span10'>RIFFF: <%= @project.name %></h2>
<h5 class='span2'> &laquo;&nbsp;<%= link_to 'back to projects', projects_path() %></h5>
</div>


<div id='controls' class='row'>
    <button id='play'  class='control span2 btn btn-success'>Play</button>

    <button id='randomise' class='control btn span2' >randomise</button>
    
    <div class="btn-group span2 transport_navigation" >
        <button id='backwards' class=' offset1 control btn' >&laquo;</button>
        <button id='forward'   class=' control btn' >&raquo;</button>
        <button id='rewind'    class=' control btn' >&laquo;&laquo;</button>
    </div>
 
    <div class='project_settings'>

        <div class='span1 offset2'>
            <label for='bpm'>BPM</label>
            <input type="text" id='bpm' class="setting_field  pull-right">
        </div>

        <div class='span1'>        
            <label for='bpl'>Beats/loop</label>
            <input type="text" id='bpl' class="setting_field pull-right">
        </div>

        <div class='span1'>        
            <label for='steps'>Steps</label>
            <input type="text" id='steps' class="setting_field pull-right">
        </div>
        <div class='span1'>        
            
            <input type="button" id='save_settings' value='Save' class="btn setting_field pull-right">
        </div>
    </div>    
</div>    





<div class='row'>
    
    <div id='composer' class='span12'>

        <div id='playhead'></div>
        <!-- Javascript builds composer in here  -->
    </div>
</div>

<div class='row'>
    <div id='file_controls' class='span12'>
        <h4>Samples</h4>
        <div id='file_list'>
            <!--Javascript puts files in here -->
        </div>    

        <%= s3_uploader_form post: "#{project_path(@project)}/sound_files", as: "sound_files[sound]", id: "myS3Uploader" do %>
        <%= file_field_tag :file, multiple: true %>
        <% end %>

        <script id="template-upload" type="text/x-tmpl">
        <div id="file-{%=o.unique_id%}" class="upload">
        {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%"></div></div>
        </div>
        </script>

    </div>
</div>    