
<input type='hidden' id='mode' value='show' />

<h3><%= @project.name %></h3>

<% if @project.json %>
    <script type="text/javascript">
        list_json = <%=raw @project.json %>
    </script>
<% end %>

<div class='row'>

    <div class="btn-group span3 control_group" >
        <button id='play'      class='control span2 btn btn-success'>Play</button>
        <button id='backwards' class='control btn' >&laquo;</button>
        <button id='forward'   class='control btn' >&raquo;</button>
        <button id='rewind'    class='control btn' >&laquo;&laquo;</button>
    </div>
    
    <button id='randomise' class='control btn span2' >randomise</button>
    

    
</div>    

<div id='composer' class='show'>
    <div id='playhead' ></div>
    <!-- Javascript builds composer in here  -->
</div>



    
</div>