
<input type='hidden' id='mode' value='false' />

<h1><%= @project.name %></h1>
<p><%= link_to 'back to projects', project_path() %></p>

<% if @project.json %>
    <script type="text/javascript">
        var list_json = <%=raw @project.json %>
    </script>
<% end %>

<div id='controlls' class='row'>
    
    
    <div class="btn-group span3" >
        <button id='play'      class='control btn'>Play</button>
        <button id='stop'      class='control btn' value='stop'>Stop</button>
        <button id='backwards' class='control btn' >&laquo;</button>
        <button id='forward'   class='control btn' >&raquo;</button>
        <button id='rewind'    class='control btn' >&laquo;&laquo;</button>
    </div>
    
    <button id='randomise' class='control btn span2' >randomise</button>
    

    
</div>    

<div id='composer' class='show'>
    <div id='playhead' ></div>
    <!-- Javascript builds composer in here  -->
</div>



    
</div>