/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require s3_direct_upload_progress_bars
 */

/* Typography */

a { 
    text-decoration:underline;
}

/* Main Layout */ 

html, body {
    height: 100%;
}

body { 
  background-color:#fdfdfd!important;
  padding-top:0px!important;
  background-image:url('/assets/bkg.png');
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -87px;
}

header { 
  background-image:url('/assets/header-bkg.png');
  background-repeat:repeat-x;
  width:100%;
  height:100px;
  left:0px;
  background-position:bottom;
}

#main_title {
  width:300px;
  float:left;
  color:#295156;
  margin-top:20px;
  font-size:70px;
}

#main_title a, #main_title a:visited, #main_title a:hover { 
  background-color:transparent!important;
  text-decoration:none;
  color:inherit;
}

.main_container { 
  margin-bottom:100px;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#authentication {
  float:right;
  width:300px;
  margin-top:20px;
}

#auth_ident {
  float:right;
}  

#auth_links {
  float:right;
}

footer { 
  background-image:url('/assets/footer-bkg.png');
  width:100%;
  padding:20px 0px;
  color:#fdfdfd;
  height:83px;
}

#push, #footer {
    height:150px
}

footer a, footer a:visited{
  color:#fdfdfd;
} 

.highlight_box { 
  border:1px solid black;
  padding:15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top:20px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.133) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.highlight_box  label { 
  margin-bottom:-20px;
}

#total_percent_loaded {
    margin-top:5px;
}

/* STRUCTURE */

#controls { 

	width:1000px;
}

#loop_overplay_label { 
    float:left;
    margin-left: 297px;
    margin-bottom:-100px;    
}

#composer { 
	position:relative;
	
	width:1000px;
	margin-bottom:40px;
}

#settings { 
	position:relative;
	top:-30px;
}

.setting_field { 
	width:60px;
}

#file_controls { 
  margin-top:40px;
}

#save_settings { 
  margin-top:30px;
  height:30px;
}

/* COMPOSER */

.bank_container { 
	width:100%;
}



.bank_title { 
	width:100%;
	clear:both;
	z-index:1000;
	height:20px;
	padding-top:20px;
	margin-bottom:4px;
	margin-left:6px;
	display:inline;
}

.bank_header { 
  clear: left;
  float: left;
  margin-bottom: 10px;
  margin-top: 24px;
}

.title_rename { 
  margin-top:-10px;
  margin-left:10px;
}

.bank_option_container { 
	width:100%;
	clear:both;

}
.bank_option_title { 
	float:left;
	width:100px;
	margin-top:5px;
	
}

.play_indicator { 
	width:10px;
	height:10px;
	border:1px solid black;
	float:left;
	position:relative;
	top:10px;
}

.file_select { 
	float:left;	
	margin-left:5px;
}
.dial_container{
	float:left;
	margin-left:5px;

}
.checkbox_control { 
	float:left;
	position:relative;
	top:6px;
	left:2px;
}

.add_bank_option, .add_bank { 
  float:left;
  clear:both;
  margin-top:4px;
}

.remove_bank_option, .remove_bank { 
  color:red;
  margin-left:10px;
  cursor:pointer;
}

.remove_bank {
  font-size:10px;
}  

.remove_bank_option  { 
  position: relative;
  top: 6px;

}

.step { 
	width:10px;
	height:10px;
	margin-left:5px;
	border:1px solid black;
	float:left;
	margin-top:10px;
	z-index:10;
}

#playhead{ 
  background-color: #DCDCDC;
  bottom: 30px;
  left: 303px;
  opacity: 0.6;
  position: absolute;
  top: 10px;
  width: 12px;
  z-index: -4;
}



#file_controls  { 
    margin-bottom:200px;
}

/* When it's in show mode */

.show #playhead { 
	left:5px;
	bottom:10px;
}


.show .file_select { 
	display:none;
}

.iframe_content #total_percent_loaded { 
    width:350px;
}

.show .step {
    border:none;
    width:10px;
    margin-left:7px;
}

.show .bank_option_container {
    height:6px;
}

/* Welcome page */

.welcome .main_container { 
    margin-top:10px;
}

iframe { 
  border:none;
  overflow:hidden;
  width:100%;
  height:900px;
}

/* Iframe / show project page */

.iframe_content {
    width:500px;
}

.iframe_content #composer {
    width:500px;
}



.iframe_content #randomise { 
  width:100px;
}

.iframe_content .control_group {
  width:300px;
  float:left;
}
 
/* Projects index page */ 

.project_listing { 
  margin-bottom:30px;
}
