/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* STRUCTURE */

#controls { 

	width:1000px;
}

#composer { 
	position:relative;
	height:800px;
	width:1000px;
}

#settings { 
	position:relative;
	top:-30px;
}

.setting_field { 
	width:90px;
}

/* COMPOSER */

.bank_container { 
	width:100%;
}

.bank_title { 
	width:100%;
	clear:both;
}

.bank_option_container { 
	width:100%;
	clear:both;
}
.bank_option_title { 
	float:left;
	width:100px;
}

.file_select { 
	float:left;	
}
.dial_container{
	float:left;

}
.checkbox_control { 
	float:left;
	position:relative;
	top:6px;
	left:2px;
}

.step { 
	width:10px;
	height:10px;
	margin-left:5px;
	border:1px solid black;
	float:left;
	margin-top:10px;
}

#playhead{ 
	position:absolute;
	top:10px;
	bottom:10px;
	width:12px;
	left:379px;
	background-color:#dcdcdc;
	opacity:0.6;
}